<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tranship Changer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="header">
    <h1>
    <img src="res/app_icon.png" class=".flip">
    Tranship Changer
    <img src="res/app_icon.png">
    </h1>
  </div>
  <form id="tranship-changer">
    <textarea name="pros" class="textbox" name="" id="pro_numbers" cols="95" rows="35" placeholder="paste pro numbers here(from DIS screen)"></textarea>
    
    <textarea name="result" class="textbox" name="" id="result" cols="95" rows="35" placeholder="The result will appear here. Copy(CTRL+C) and paste(CTRL+V) this into accuterm(PRO screen) to change tranships!" readonly><%= result %></textarea>

    <input class="textbox" name="tranship" type="text" placeholder="tranships to use">
    <input type="submit" id="submit-button" value="Change Tranships!">
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</body>
</html>