body {
}
#app-container {
  position: aboslute;
  min-height: calc(100% - 36px);
  padding-bottom: 25px;
}

form {
  position: relative;
  margin-top: 25px;
}

#footer {
  position: relative;
  bottom: 0px;
  width: 100vw;
  height: 50px;
}

textarea {
  resize: none;
}
